* {
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: blue;
}

nav {
    height: 30px;
    background-color: rgb(76, 120, 250);
}

nav a {
    color: purple;
    margin-left: 20px;
    line-height: 30px;
}

main {
    height: 600px;
}

main h1 {
    margin-top: 50px;
    text-align: center;
}

form {
    width: 400px;
    margin-left: 515px;
    margin-top: 30px;
}

table {
            width: 100%;
            border-collapse: collapse;
        }

        th {
            text-align: left;
            padding: 3px 5px;
            font-weight: normal;
            font-size: 11px;
            border: 1px solid #afafaf;
            width: 110px;
            color: #000;
            text-align: center;
        }

        td {
            padding: 3px;
            border: 1px solid #afafaf;
            text-align: center;
        }

        input[type="text"] {
            width: calc(100% - 8px);
            padding: 2px 3px;
            border: 1px solid #a0a0a0;
            font-size: 11px;
            box-sizing: border-box;
        }

        select {
            width: 50px;
            padding: 2px;
            border: 1px solid #a0a0a0;
            font-size: 11px;
        }

        .button {
            text-align: center;
            padding: 8px;
            border: 1px solid #afafaf;
        }

        input[type="submit"],
        input[type="reset"] {
            padding: 3px 12px;
            margin: 0 3px;
            font-size: 11px;
            cursor: pointer;
            border: 1px solid #a0a0a0;
            background-color: #e0e0e0;
            color: #000;
            border-radius: 0;
        }

footer {
    height: 30px;
    background-color: rgb(76, 120, 250);
    color: white;
    text-align: center;
}